*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.b-h-bb{
    font-size: 26px;
    font-weight: 700;
    color: rgb(32, 31, 31);
}
.n-t-p{
    font-size: 20px;
    color: rgb(56, 54, 54);
}
.bl-h-xl{
    font-size: 30px;
    font-weight: 700;
    color: rgb(31 93 172);
}
.bl-h-sm{
    font-size: 22px;
    font-weight: 500;
    color: rgb(31 93 172);
}
.b-h-md{
    font-size: 22px;
    font-weight: 500;
    color: rgb(31, 30, 30);
}
.span{
    font-size: 10px;
}
.house-banner{
    background: url('./Logo/Ghar.webp');
    background-repeat: no-repeat;
    margin: auto;
    background-size: contain;
}
.financial-caps{
    background: linear-gradient(to right,#8bb5d2,#84b9e0);
}
.materiality-caps{
    background: linear-gradient(to right,#b0a1ce,#b0a1ce);
}


.bg-green-grad {
    background: linear-gradient(45deg, #a8e063, #2e8387);
    padding: 6rem 0;
}

/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
} */

.card {
    position: relative; /* Ensure overlay is positioned relative to the card */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    /* width: 24%; */
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 60%;
    margin-top: 2%;
   object-fit: contain;
}
.img-z{
    z-index: 10;
    width: 37.6%;
}
.card h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 0.5rem 0 0;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,#093c89,#2979f0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100%); /* Start position */
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.card:hover .card-content {
    opacity: 1; /* Show overlay on hover */
    transform: translateY(0); /* End position */
}

.slick-dots li button{
    display: none !important;
}





.discover-sec{
    padding: 2% 0;
}
.containerd {
    position: relative;
    width: 60%; /* Adjust width as needed */
    height: 60vh; 
    margin: 5% auto;
}
.containerd-about{
    /* position: absolute; */
    border: 2px solid red;
    width: 90%;
    /* height: 100%; */
    left: 50%;
    transform: translateX(-50%); 
    /* height: 100%;  */
    /* margin: 5% auto; */
    z-index: 1;
}
.ct2{
    position: relative;
    width: 97%; /* Adjust width as needed */
    margin: 5% auto;
    height: 60vh; /* Adjust height as needed */

}

.squared {
    position: absolute;
    width: 3.5vw; 
    height: 6.5vh;
    border-radius: 15%;
}
.imaged {
    position: absolute;
}

/* Position squares initially */
.top-left {
    top: 0;
    left: 0;
    background-color: #84baec;   
}
.top-left-about{
    top: 24%;
    left: 1%;
    background-color: #84baec;    
}
.top-left-bab{
    top: 0%;
    left: -20%;
    width: 15vw;
    height: 22vh;
    z-index: 1;
    /* background-color: #84baec;     */
}
.top-lefta {
    top: 0;
    left: 7%;
    background-color: #0f68c9; 
}
.top-lefta-about{
    top: 8%;
    left: 4%;
    /* opacity: ; */
    background-color: #0f68c9; 
}
.top-lefta2-about{
    top: 2%;
    left: 12%;
    /* opacity: ; */
    background-color: #84baec; 
}
.top-lefta-bab{
    top: 0;
    left: 40%;
    width: 15vw;
    height: 22vh;
    z-index: 1;
}
.top-leftaa {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa2 {
    top: 58%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: 90%;
}
.top-leftaa3 {
    position: absolute;
    top: 0%; /* Move the element 50% down from the top */
    right: 30%; /* Move the element 50% from the left */
    transform: translate(-50%, -50%); /* Center the element */
    width: 40%; /* Adjust the width as needed */
}

.top-rightaa2 {
    top: 20%;
    /* transform: translateY(-50%, -50%); */
    width: 30%;
    right: -10%;
}
.top-rightaa{
    top: 45%;
    width: 30%;
    right: -20%;

}

.top-right {
    top: 0;
    background-color: #b8daf4; 
    right: 0;
}
.top-right-about{
    bottom: 2%;
    background-color: #b8daf4; 
    right: 12%;
}
.top-right2-about{
    bottom: 26%;
    background-color: #b8daf4; 
    right: 1%;
}
.top-right-bab{
    top: 25%;
    left: -45%;
    width: 23vw;
    height: 22vh;
    z-index: 1;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.bottom-left-bab {
    bottom: 30%;
    left: 50%;
    width: 20vw;
    height: 30vh;
    z-index: 1;
}
.bottom-left2 {
    bottom: 5%;
    left: 10%;
    background-color: #b8daf4; 
}
.bottom-left2-bab {
    bottom: 5%;
    left: 10%;
    width: 20vw;
    height: 30vh;
    z-index: 1;
}
.bottom-left3-bab{
    bottom: -20%;
    left: -40%;
    width: 19vw;
    height: 25vh;
    z-index: 1;
}
.bottom-right {
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 9vh;
}
.bottom-right-about{
    bottom: 8%;
    right: 4%;
    width: 4vw;
    height: 7vh;
}
.bottom-right2-bab{
    bottom: 0;
    right: 0;
    width: 20vw;
    height: 20vh;
    z-index: 1;
}
/* Style for hovered state */

.btn-posnawr {
    text-align: center;
    text-decoration: none;
    /* line-height: 80px; */
    color: #0f68c9;
    position: relative;
    display: block;
    overflow: hidden;
    width: 20vw;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 1.5vh;
    z-index: 1;
    /* height: 8vh; */
    /* max-width: 250px; */
    border-radius: 50px;
    margin: 1rem auto;
    /* text-transform: uppercase; */
    border: 1px solid #0f68c9;
  }
  .btn-posnawr span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #0f68c9;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }
  .btn-posnawr:hover {
    color: #eee;
  }
  .btn-posnawr:hover span {
    width: 225%;
    height: 562.5px;
  }
  .btn-posnawr:active {
    background-color: #0f68c9;
  }
  .sq{
    opacity: 0.5;
  }



/* JOBS BUTTON CSS END */
